@*<form asp-action="Pokemon">
        <h2>Search for a Pokemon by Id</h2>
        <input type="number" name="id" required/>
        <input type="submit" />

    </form>*@

@*<img src="https://www.freevector.com/uploads/vector/preview/15943/FreeVector-Poke-Ball.jpg" width="250" height="200" />*@

<link href="../../css/pokemonapiCSS.css" rel="stylesheet" />
<div id="pokedex">
    <div id="left">
        <div id="bg_curve1_left"></div>
        <div id="bg_curve2_left"></div>
        <div id="curve1_left">
            <div id="buttonGlass">
                <div id="reflect"> </div>
            </div>
            <div id="miniButtonGlass1"></div>
            <div id="miniButtonGlass2"></div>
            <div id="miniButtonGlass3"></div>
        </div>
        <div id="curve2_left">
            <div id="junction">
                <div id="junction1"></div>
                <div id="junction2"></div>
            </div>
        </div>
        <div id="screen">
            <div id="topPicture">
                <div id="buttontopPicture1"></div>
                <div id="buttontopPicture2"></div>
            </div>
            <a asp-action="Search"><div id="picture">
                <img src="https://www.freevector.com/uploads/vector/preview/15943/FreeVector-Poke-Ball.jpg" height="165" />
            </div></a>
            <div id="buttonbottomPicture"></div>
            <div id="speakers">
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
                <div class="sp"></div>
            </div>
        </div>
        <div id="bigbluebutton"></div>
        <div id="barbutton1"></div>
        <div id="barbutton2"></div>
        <div id="cross">
            <div id="leftcross">
                <div id="leftT"></div>
            </div>
            <div id="topcross">
                <div id="upT"></div>
            </div>
            <div id="rightcross">
                <div id="rightT"></div>
            </div>
            <div id="midcross">
                <div id="midCircle"></div>
            </div>
            <div id="botcross">
                <div id="downT"></div>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="stats">
            <strong>Welcome to the Pokemon API!</strong><br />
            Search for Pokemon by clicking the Pokeball on the left.<br />
            Please register to access favorites.<br />

        </div>
        <div id="blueButtons1">
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
        </div>
        <div id="blueButtons2">
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
            <div class="blueButton"></div>
        </div>
        <div id="miniButtonGlass4"></div>
        <div id="miniButtonGlass5"></div>
        <div id="barbutton3"></div>
        <div id="barbutton4"></div>
        <div id="greyBox1"><div id="greyBox1Text1">Created by: Lindsay NaDell, Lauren Jensen, Pin Vue</div></div>
        <div id="greyBox2"><div id="greyBox2Text1">HTML & CSS Styling credit: <a href="https://codepen.io/Bidji/pen/MYdPwo">Bidji</a></div></div>
        <div id="bg_curve1_right"></div>
        <div id="bg_curve2_right"></div>
        <div id="curve1_right"></div>
        <div id="curve2_right"></div>
    </div>
</div>